@model KeyVault.Web.Models.Auth.LoginViewModel

@{
  ViewData["Title"] = "Login";
}

<h2>Login</h2>

<div class="row">
  <div class="well col-md-4">
    <form asp-action="Login">
      <div asp-validation-summary="ModelOnly" class="text-danger"></div>
      <div class="form-group">
        <label asp-for="Username" class="control-label"></label>
        <input asp-for="Username" class="form-control" />
        <span asp-validation-for="Username" class="text-danger"></span>
      </div>
      <div class="form-group">
        <label asp-for="Password" class="control-label"></label>
        <input asp-for="Password" type="password" class="form-control" />
        <span asp-validation-for="Password" class="text-danger"></span>
        <span class="text-info">Note that this is not necessarily your Windows/Domain password!</span>
      </div>
      <div class="form-group">
        <input type="submit" value="Login" class="btn btn-default" />
      </div>
    </form>
  </div>
</div>

@section Scripts {
  @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
