@model KeyVault.Web.Models.Auth.RegisterViewModel

@{
  ViewData["Title"] = "Register";
}

<h2>Register</h2>

<div class="row">
  <div class="well col-md-4">
    <form asp-action="Register">
      <h4>Looks like you've not used KeyVault yet!</h4>
      <hr />
      <div asp-validation-summary="ModelOnly" class="text-danger"></div>
      <div class="form-group">
        <label asp-for="Username" class="control-label"></label>
        <input asp-for="Username" class="form-control" />
        <span asp-validation-for="Username" class="text-danger"></span>
      </div>
      <div class="form-group">
        <label asp-for="Password" class="control-label"></label>
        <input asp-for="Password" type="password" class="form-control" />
        <span asp-validation-for="Password" class="text-danger"></span>
        <span class="text-info">This does not need to be your Windows/Domain password. This password will be stored securely and used as a key to encrypt your Vault Passwords.</span>
      </div>
      <div class="form-group">
        <input type="submit" value="Register" class="btn btn-default" />
      </div>
    </form>
  </div>
</div>

@section Scripts {
  @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
