@model KeyVault.Web.Models.Vault.VaultPasswordViewModel

@{
  ViewData["Title"] = "Add Vault Password";
}

<h2>Add Vault Password</h2>

<form asp-action="Create">
  <div class="form-horizontal">
    <h4>Add a Password to your Vault</h4>
    <hr />
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group">
      <label asp-for="Name" class="col-md-2 control-label"></label>
      <div class="col-md-10">
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
      </div>
    </div>
    <div class="form-group">
      <label asp-for="Password" class="col-md-2 control-label"></label>
      <div class="col-md-10">
        <input asp-for="Password" class="form-control" />
        <span asp-validation-for="Password" class="text-danger"></span>
      </div>
    </div>
    <div class="form-group">
      <div class="col-md-offset-2 col-md-10">
        <input type="submit" value="Create" class="btn btn-primary" />
      </div>
    </div>
  </div>
</form>

<div>
  <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
  @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
