@model IEnumerable<KeyVault.Web.Models.Vault.VaultPasswordViewModel>
@{
  ViewData["Title"] = "Vault";
}

<h2>Vault Passwords</h2>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Password</th>
      <th>Share</th>
      <th>Edit</th>
    </tr>
  </thead>
  <tbody>
    @if (Model.Count(vp => !vp.IsShared) > 0)
    {
      foreach (var vm in Model.Where(vp => !vp.IsShared))
      {
        <tr>
          <td>@vm.Name</td>
          <td>
            <input type="password" class="form-control vault-password" value="@vm.Password" readonly="readonly" />
          </td>
          <td>
            @if (!vm.IsShared)
            {
              <button type="button" class="btn btn-default" data-toggle="modal" data-target="#modalShare" data-vp-id="@vm.Id" data-vp-name="@vm.Name">Share</button>
            }
          </td>
          <td>
            @if (!vm.IsShared)
            {
              <a asp-action="Edit" asp-route-id="@vm.Id" class="btn btn-default">Edit</a>
            }
          </td>
        </tr>
      }
    }
    else
    {
      <tr>
        <td colspan="4">Looks like there are no passwords in your vault! Add one below, or wait for some to be shared.</td>
      </tr>
    }
    <tr>
      <td colspan="4">
        <a asp-action="Create" class="btn btn-primary">Add New</a>
      </td>
    </tr>
  </tbody>
</table>

@if (Model.Count(vp => vp.IsShared) > 0)
{
  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Password</th>
      </tr>
    </thead>
    <tbody>
      @foreach (var vm in Model.Where(vp => vp.IsShared))
      {
        <tr>
          <td>@vm.Name</td>
          <td>
            <input type="password" class="form-control vault-password" value="@vm.Password" readonly="readonly" />
          </td>
        </tr>
      }
    </tbody>
  </table>
}

<div id="modalShare" class="modal fade" tabindex="-1" role="dialog">
  <form id="formShare" class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="modalShareLabel">Share Vault Password</h4>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label class="control-label">User to share with</label>
          <select id="ddlShareWith" name="ShareWith" class="form-control"></select>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button id="btnSubmitShare" type="button" class="btn btn-primary">Share</button>
        <input id="modalShareVpId" name="VaultPasswordId" type="hidden" value="" />
      </div>
    </div>
  </form>
</div>

@section scripts {
  <script>
    $('.vault-password').hover(
      function (e) {
        e.target.type = "text";
      },
      function (e) {
        e.target.type = "password";
      }
    );

    $('#modalShare').on('show.bs.modal', function (event) {
      var $btn = $(event.relatedTarget);

      var vpId = $btn.data('vp-id');
      var vpName = $btn.data('vp-name');

      $(this).find('.modal-title').text('Share Vault Password - ' + vpName);
      $("#modalShareVpId").val(vpId);

      $.getJSON("@Url.Action("GetShareWithList", "Vault")/" + vpId, function (data) {
        $("#ddlShareWith").html(data.map(function (usr) {
          return '<option>' + usr + '</option>';
        }).join(""))
      });
    });

    $("#btnSubmitShare").on("click", function () {
      $.post("@Url.Action("Share", "Vault")", $("#formShare").serialize(), function (a, b) {
        if (b != "success") {
          throw a;
        }
        $('#modalShare').modal('toggle');
      });
    });
  </script>
}